.wrap-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

.wrap-comments p {
    margin: 5px 30px;
}
.wrap-comments input {
    margin: 5px 20px;
    width: 95%;
    border-radius: 5px;
}