.wrap-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vertical {
    display: block;
    height: 70px;
    width: 2px;
    background-color: gray;
    border-radius: 5px;
}

.middle input {
    height: 40px;
    border: 2px solid gray;
    border-radius: 5px;
}

.middle input::placeholder {
    text-align: center;
}

.left img {
    height: 70px;
    margin: 0px 20px;
}

.right span {
    margin: 0px 10px;
}