.wrap-post {
    display: flex;
    flex-direction: column;
}

.user-post {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
}

.user-post img {
    height: 60px;
    border-radius: 50%;
    margin: 0px 20px;
}

.user-post span {
    font-size: 1.3em;
    font-weight: bold;
}

.img-post img {
    width: 97%;
}

.icon-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
}

.icon-post span {
    margin: 0px 10px;
}
.icon-post p {
    margin: 0px 20px;
}

.time-post p {
    text-align: left;
    margin: 0px 30px;
}